
spring:
    datasource:
        url: jdbc:h2:tcp://localhost/~/testdb
        driver-class-name: org.h2.Driver
        username: sa
    jpa:
        hibernate:
            ddl-auto: create
        properties:
            hibernate:
                format_sql: true


logging.level:
    org.hibernate.SQL: debug
    #org.hibernate.orm.jdbc.bind: trace